<div>
    <hr style="border:0;height:5px;background:#727cf5;margin-top:1.25rem;margin-bottom:1.25rem"/>
    <span style="color:#727cf5;font-size:2rem;margin-right:0.75rem">Questionnaire to Answer</span>
    <div style="color:#6c757d;margin-top:1.5rem">
        Hi. This is Pharmcadd-Form.<br/><br/>
        Please answer the questionnaire to be answered.<br/><br/>
        Click the below button to go to answer the form.<br/><br/>
        Thanks :)
    </div>
    <div>
        <a href="{{linkUrl}}" style="display:inline-block;background-color:#fa5c7c;border:1px solid #fa5c7c;padding:0.45rem 3rem;border-radius:0.15rem;font-size:0.9rem;color:#ffffff;text-align:center;box-shadow:0 2px 6px 0 rgb(250 92 124 / 50%);margin-top:2rem" target="new">
            go to Answer</a>
    </div>
</div>