.alert-back {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.alert {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    @apply bg-white;
    @apply border-solid;
    @apply border;
    @apply border-secondary;
    padding: 0.45rem 2rem;
    @apply rounded-sm;
    @apply text-sm;
    @apply text-secondary;
    box-shadow: 0 2px 6px 0 rgb(250 92 124 / 50%);
}
