.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    @apply font-medium;
    line-height: 1;
    @apply text-white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @apply rounded;
}

.badge-group {
    margin: -.25em;
}

.badge-group .badge {
    margin: .25em;
}


.badge-outline {
    @apply bg-transparent;
    @apply border-primary;
    @apply border-2;
    @apply text-primary;
}

.badge-green {
    @apply bg-transparent;
    @apply border-green-500;
    @apply border-2;
    @apply text-green-500;
}

.badge-red {
    @apply bg-transparent;
    @apply border-red-300;
    @apply border-2;
    @apply text-red-400;
}