.btn {
    display: inline-block;
    @apply bg-secondary;
    @apply border-solid;
    @apply border;
    @apply border-secondary;
    padding: 0.45rem 0.9rem;
    @apply rounded-sm;
    @apply text-sm;
    @apply text-white;
    /*margin-left: 0.75rem;*/
    /*margin-bottom: 0.75rem;*/
    text-align: center;
    @apply font-normal;
    box-shadow: 0 2px 6px 0 rgb(250 92 124 / 50%);
}

.btn:hover {
    background-color: #d54e69;
}

.btn:focus {
    background-color: #d54e69;
    box-shadow: 0 0 0 0.2rem rgb(251 116 144 / 50%);
}

.btn:active,
.btn.active:not(.btn_link) {
    @apply text-white;
    @apply bg-secondary;
}

.btn:disabled,
.btn.disabled {
    background-color: gray;
    box-shadow: 0 2px 6px 0 rgba(128, 128, 128, 0.68);
    border: 1px solid gray;
}


/* Link Button */
.btn_link {
    @apply text-primary;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
}

.btn_link.active {
    color: #4751f8;
    @apply font-medium;
}

.btn_link:hover {
    color: #6169d0;
    background-color: transparent;
}

.btn_link:focus {
    box-shadow: none;
    background-color: transparent;
}

.btn_link.disabled {
    box-shadow: none;
    background-color: transparent;
    color: #7e868c;
    border: none;
}

/* Sorting Button */
.btn_sort {
    @apply text-black;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
}

.btn_sort.active {
    color: #000;
    @apply font-medium;
}

.btn_sort:hover {
    color: rgba(61, 104, 226, 0.82);
    background-color: transparent;

}

.btn_sort:focus {
    box-shadow: none;
    background-color: transparent;
}

.btn_sort.disabled {
    box-shadow: none;
    background-color: transparent;
    color: #000;
    border: none;
}


.btn_icon svg {
    display: inline-block;
}

.btn_icon:disabled svg {
    @apply text-gray-300;
}

.btn_outline {
    background-color: transparent;
    @apply border-solid;
    @apply border;
    @apply border-secondary;
    box-shadow: none;
    @apply text-secondary;
}

.btn_outline:focus {
    box-shadow: 0 0 0 0.2rem rgb(251 116 144 / 50%);
    background-color: transparent;
    @apply text-secondary;
}

.btn_outline:hover {
    @apply text-white;
    @apply bg-secondary;
}


.btn_block {
    display: block;
    width: 100%;
}

.btn_sm {
    padding: 0.2rem 0.4rem;
    @apply text-xs;
}

.btn_lg {
    padding: 0.8rem 2rem;
}


/* 토글 스위치 시작 */

.switch-button {
    position: relative;
    display: inline-block;
    width: 50px; /* width: height = 2 : 1*/
    height: 25px;
}

.switch-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.on-off-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @apply rounded-sm;
    background-color: #ccc;
    transition: .2s;
}

.on-off-switch:before {
    position: absolute;
    content: "";
    width: calc(50% - 6px);
    padding-bottom: calc(50% - 6px);
    left: 3px;
    bottom: 3px;
    @apply bg-white;
    transition: .2s;
    @apply rounded-sm;
}

.switch-button input:checked + .on-off-switch {
    @apply bg-primary;
}

.switch-button input:checked + .on-off-switch:before {
    left: calc(100% - (50% - 6px + 3px));
}

.switch-button.sm {
    width: 40px;
    height: 20px;
}

/* 토글 스위치 끝 */

