.container_sm .title {
    @apply text-2xl;
}

.container_sm .title-ex {
    @apply text-xs;
}

.v-line {
    display: inline-block;
    border: 1px solid #c8d0d9;
    width: 0.001rem;
    height: 1.75rem;
}

.necessary-text {
    display: inline-block;
    color: #9ca3af;
}

.bottom-lined {
    border-bottom: 1px solid #9ca3af;
    box-shadow: none;
}


