.container_sm .title {
    font-size: 1.7rem;
}
.container_sm .title-ex {
    font-size: 0.8rem;
}

.v-line {
    display: inline-block;
    border: 1px solid #c8d0d9;
    width: 0.001rem;
    height: 1.75rem;
}

.necessary-text {
    display: inline-block;
    color: #9ca3af;
}


