.form-label {
    display: block;
    margin-bottom: 0.5rem;
    @apply font-medium;
    @apply text-sm;
    color: #6c757d;
}

.form-input {
    @apply bg-white;
    border: 1px solid #dee2e6;
    padding: 0.45rem 0.9rem;
    @apply rounded;
    color: #313a46;
    width: 100%;
    @apply text-sm;
    /*margin-right: 0.75rem;*/
    /*margin-bottom: 0.75rem;*/
}

.form-input:focus {
    outline: none;
}

/* readonly */
.form-input[readonly] {
    display: block;
    /*background-color: #eef2f7;*/
    color: #6c757d;
    width: 100%;
    @apply text-sm;
}

/*.form-input:read-only {*/
/*    color: #9ca3af;*/
/*}*/


.form-input:disabled {
    display: block;
    background-color: #eef2f7;
    width: 100%;
    color: #6c757d;
    @apply text-sm;
}

.form-input.plaintext {
    display: block;
    width: 100%;
    padding: 0.45rem 0;
    color: #6c757d;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    @apply text-sm;
}

.help-block {
    display: block;
    color: #6c757d;
    @apply text-xs;
}

/* 선택 상자 */
select.form-input {
    @apply bg-white;
    color: #6c757d;
}

.form-input::file-selector-button {
    padding: 0.55rem 0.9rem;
    margin: -0.45rem -0.9rem;
    margin-inline-end: 0.9rem;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-inline-end-color: #dee2e6;
    @apply rounded-none;
    background-color: #eef2f7;
    color: #6c757d;
    @apply text-sm;
    @apply font-medium;
}


.cam-card {
    width: 100%;
    /*box-shadow: 0 2px 6px 0 rgb(250 92 124 / 50%);*/
    display: inline-block;
}

.cam-card .surname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 4rem;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.d-day {
    display: inline-block;
    @apply bg-primary;
    padding: 0.15rem 0.7rem;
    @apply rounded-sm;
    @apply text-xs;
    @apply text-white;
    text-align: center;
}

.day-red {
    background-color: #fa2424;
    box-shadow: 0 2px 6px 0 rgba(250, 36, 36, 0.62);

}

.valid-box > .form-input,
    /*.was-validated .form-input:valid,*/
.form-input.is-valid {
    border: 2px solid #4cec4c;
    color: #0C0;
}

.invalid-box > .form-input,
.was-validated .form-input:invalid,
.form-input.is-invalid {
    border: 2px solid #dc3545;
    color: #C00;
}

/* valid, invalid feedback */
.valid-feedback,
.invalid-feedback {
    display: none;
    width: 100%;
    @apply text-xs;
}

.valid-feedback {
    /*.was-validated :valid ~ .form-check-label,*/
    /*.was-validated .is-valid ~ .form-check-label {*/
    color: #198754;
}

.invalid-feedback,
.was-validated :invalid ~ .form-check-label,
.was-validated .is-invalid ~ .form-check-label {
    color: #dc3545;
}

.is-valid ~ .valid-feedback,
.was-validated :valid ~ .valid-feedback {
    display: block;
}

.is-invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-feedback,
.was-validated .has-invalid .invalid-feedback {
    display: block;
}


/* Search */
.form-search input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-search button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
