.modal-back{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 0.25rem;
}

.compose-top {
    background-color: #fa5c7c;
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
}

.compose-title {
    color: white;
    font-weight: 500;
}

.modal-btn {
    text-align: right;
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    opacity: 0.46;
    background-color: rgb(33, 33, 33);
    border-color: rgb(33, 33, 33);
}
